<!-- ==================================
 *      Une application Skelapp         *
 * ==================================== *
 * (c)2021 - Patrick Cardona            *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aidePriseEnMain.hbs -->



	<h3 class="texte-fonce">Navigation et actions</h3>
<div class="w3-container w3-padding">
<table class="w3-table w3-bordered">
	<tr>
	<th>Bouton</th><th>Navigation /action</th>
	</tr>
	<tr>
    <td><span class="analogue w3-padding">
    <i class="icon-menu"></i></span></td>
    <td>Menu donnant accès aux listes : exercices...</td>
    </tr>
    <tr>
    <td><span class="analogue w3-padding">
    <i class="icon-actions"></i></span></td>
    <td>Menu des actions (en version mobile).
    </td>
    </tr>
</table>
</div>