<!-- ==================================
 *            skelapp                   *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : zone de notification
  notificationTemplate.hbs
-->

    <div class="w3-modal-content w3-round">
    <div class="w3-container">
      <p class="w3-right-align">
      <button class="w3-button texte-fonce" onclick="$('#notification').hide()">
      <i class="icon-fermer"></i>
      </button>
      </p>
      <h4 id="titre_message" class="w3-center texte-fonce"></h4>
      <p id="contenu_message"></p>
    </div>
    </div>

