<!-- ==================================
 *            skelapp                   *
 * ==================================== *
 * (c)2021 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : pied de page
  piedTemplate.hbs
-->

<!-- Pied de page -->

    <footer class="w3-bottom w3-center fonce">
      Skelapp {{version}} &ndash; &copy; 2021 Patrick Cardona <span class="w3-hide-small">|</span> 
      Hébergement&nbsp;: <a title="site hébergeur" 
      href="https://pages.github.com/" 
      target="_blank" rel="noreferrer noopener" style="text-decoration: none">
      GitHub-pages
      </a>
    </footer>