<!-- ==================================
 *            skelapp                   *
 * ==================================== *
 * (c)2021 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : pied de page
  piedTemplate.hbs
-->

<!-- Pied de page -->

    <footer class="w3-bottom w3-center fonce">
      <span class="w3-hide-small">Fondé sur </span>
	<a href="https://github.com/pcardona34/skelapp" target="_blank" style="text-decoration: none">
	Skelapp</a><span class="w3-hide-small"> {{version}}</span> &ndash; &copy; 2021 P<span class="w3-hide-small">atrick </span>Cardona 
	-
      <span class="w3-hide-small">Hébergement&nbsp;: </span><a title="site hébergeur" 
      href="https://pages.github.com/" 
      target="_blank" rel="noreferrer noopener" style="text-decoration: none">
      gh-pages
      </a>
    </footer>