<!-- ==================================
 *       Une application skelapp        *
 * ==================================== *
 * (c)2021 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- accueilTemplate.hbs -->

 <div class="w3-container" id="page_accueil">
 <div class="w3-display-container">
   <img src="./static/images/logo.jpg" class="w3-image w3-opacity-max"
   alt="Le logo représente ...">
   <div class="w3-padding-48">
   <h1 class="w3-wide w3-display-middle texte-fonce" >{{{encodeChaine bienvenue }}}</h1>
  </div>
 </div>
 </div>

