<!-- ==================================
 *            Skelapp                   *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : accueilExerciceTemplate -->

<div class="w3-container">
<header class="w3-container">
<h3 class="w3-round w3-padding analogue">Mode d'emploi</h3>
<p class="texte-lien w3-hide-large w3-hide-medium">Utilisez le bouton <i class="icon-actions"></i>pour afficher les actions.</p>
</header>
<div class="w3-container">
<ul class="w3-ul w3-padding">

		<li><span class="w3-badge triadic">1</span> 
		{{consigne}}
		</li>
		<li>
			<span class="w3-badge triadic">2</span> Étape 2...
		</li>
		<li>
			<span class="w3-badge triadic">3</span> Étape 3...</span>.
		</li>
	</ul>
</div>
</div>