<!-- ==================================
 *            Skelapp                   *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : consigneExerciceTemplate.hbs -->


<div class="w3-container">

  <div class="w3-card-4">
    <div class="w3-container w3-padding analogue">
      <h3>Consigne</h3>
    </div>
  </div>

  <p>{{consigne}}</p>



</div>
