<!-- ==================================
 *            Skelapp                   *
 * ==================================== *
 * (c)2021 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
<!-- Template d'exécution effective de l'exercice 
    exerciceTemplate.hbs
 -->

<div class="w3-container">

  <div class="w3-card-4">
    <div class="w3-container w3-padding analogue">
      <h3>{{titre}}</h3>
    </div>
  </div>

<p>Ici, votre exercice à déployer...</p>

</div>