<!-- ==================================
 *            skelapp                   *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template d'affichage du profil 
  profilTemplate.hbs :
-->

<div class="w3-container">

<div class="w3-panel" id="preferences" style="display: block">
<table class="w3-table w3-striped w3-border" style="max-width: 500px">
<tr>
<th>Option</th><th>Valeur</th>
</tr>
<tr>
<td>Niveau</td>
<td><span id="niveau">{{interpreteNiveau niveau}}</span></td>
</tr>
</table>
</div>

</div>
